<!DOCTYPE html>
<html lang="en">
<head>
    <h1>Home Page</h1>
    <p>This is based on basic test number 2</p>
    <hr>
</head>
<body>
    <div>
        <h2>Case A</h2>
        <p><b>Function that convert string from </b></p>
        <p><b>Input: Lorem Ipsum Dolor Sit Amet</b></p>
        <p><b>output: lOREM iPSUM dOLOR sIT aMET</b></p>
        <p><a href="/soal1">Go to Case A</a></p>
    </div>

    <hr>
    
    <div>
        <h2>Case B</h2>
        <p><b>Function that convert string from </b></p>
        <p><b>Input: Team Engineering PT. Raksasa Laju Lintang</b></p>
        <p><b>Output: T3e4a5mn5g2i2r2g2PksL2ju</b></p>
        <p><a href="/soal2">Go to Case B</a></p>
    </div>

    <hr>


    <div>
        <h2>Case C</h2>
        <p><b>Function that can give word statistics: </b></p>
        <ul>
            <li>Total Word Count</li>
            <li>Word count for every word</li>
            <li>Numbers of words that only shows up once</li>
            <li>Word that has highest count</li>
            <li>Word that has smallest count</li>
        </ul>
        <p><a href="/soal3">Go to Case C</a></p>
    </div>
  
</body>
</html>