<!DOCTYPE html>
<html lang="en">
<head>
    <p><a href="/">Back to home</a></p>
    <h2>Case B</h2>
    <p><b>Function that convert string from </b></p>
    <p><b>Input: Team Engineering PT. Raksasa Laju Lintang</b></p>
    <p><b>Output: T3e4a5mn5g2i2r2g2PksL2ju</b></p>
</head>
<body>
    <form action="/soal2" method="POST" id="soal2">
        <h2>Input</h2>
        <br>
        <textarea id="input2" name="input2"rows="10" cols="100" form="soal2">
           
        </textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    <h2>Output</h2>
    <p>{{.output}}</p>
    </body>
</body>
</html>