<!DOCTYPE html>
<html lang="en">
<head>
    <p><a href="/">Bacl to home</a></p>
    <h1>Case A</h1>
    <p><b>Function that convert string from </b></p>
    <p><b>Input: Lorem Ipsum Dolor Sit Amet</b></p>
    <p><b>output: lOREM iPSUM dOLOR sIT aMET</b></p>
</head>
<body>
    <form action="/soal1" method="POST" id="soal1">
        <h2>Input</h2>
        <br>
        <textarea id="input1" name="input1"rows="10" cols="100" form="soal1">
           
        </textarea>
        <br>
        <input type="submit" value="Submit">
    </form>
    <h2>Output</h2>
    <p>{{.output}}</p>
</body>
</html>